body {
  height: 100vh;
  margin: 0;
  background: #233233;
  color: white;
  display: flex;
  flex-direction: column;
  user-select: none;
  font-family: 'URW Gothic L', sans-serif;
}

.hidden { display: none !important; }
.pad { flex: auto; }
.container { display: flex; }

.num {
  width: 116px;
  height: 128px;
  font-size: 64px;
  font-weight: 300;
  text-align: center;
  margin: 12px;
  color: #002d4d;
}

.num::before, .num::after {
  content: ' ';
  flex: auto;
}

#filename {
  font-size: 64px;
  margin: 32px;
  margin-bottom: 0;
  height: 112px;
  font-weight: 200;
  display: block;
  max-width: 64%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#tip {
  font-size: 32px;
  opacity: 0.6;
  height: 46px;
}

#info-card {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  color: black;
}

#info-image {
  width: 128px;
}

#info-title {
  font-size: 48px;
  font-weight: 200;
  margin: 16px 0;
}

#info-subtitle {
  font-size: 32px;
  opacity: 0.64;
  font-weight: 200;
  margin: 0;
}

#info-text {
  padding: 0 16px;
}

#admin-password, #admin, #admin-input {
  position: fixed;
}

#admin {
  width: 100%;
  height: 100vh;
  background: #fff;
  color: #333;
}

#admin-input {
  width: 100%;
  bottom: 0;
}

#control-qrcode-wrapper {
  position: fixed;
  top: 16px;
  right: 0;
  text-align: center;
  padding-top: 16px;
  color: #222;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
#control-qrcode-wrapper p {
  font-size: 24px;
  font-weight: 200;
  margin: 0;
}
#control-qrcode > * { border-radius: 4px; }

#network-error {
  position: fixed;
  bottom: 32px;
  right: 0;
  padding: 16px;
  background-color: red;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}
#network-error img { margin-right: 12px; }
